html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(-90deg, #FF0A91, #D2FF0A);
}

div {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  color: rgba(0,0,0,0.7);
  font-size: 5em;
}